p {
    font-size: 25px;
    font-family: 'Vidaloka', serif;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    color: #abd1c6
  }

p1 {
  font-size: 15px;
  font-family:'Vidaloka', serif;
} 

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  height: 230px;
  width: 230px;
  border-radius: 130px;
}

