/* Header-Nav bar */
.header {
    padding: 40px 0;
    color: #abd1c6;
    font-family: 'Vidaloka', serif;
  }
  
  .header ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 40px;
  }
  
  .header a {
    padding: 0 10px;
  }
  
  .header ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }