/* website gallery */
.image-gallery {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
  }
  
  .image-gallery>a {
    flex-basis: 350px;
    /* width: 350px; */
  }
  
  .image-gallery a img {
    /* object-fit: cover; */
    width: 115%;
    height: 108%;
    vertical-align: middle;
    border-radius: 5px;
  }
  
  /* add hover effect on pictures*/
  .photo:hover {
    opacity: 0.5;
  }